.add-car-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    /* margin: 20px auto; */
    background-color: #fff; /* Light background for form area */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #333; /* Text color */
    height: 100vh;
    
}
.add-car-sub-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.1);
    gap: 10px;
}
.add-car-sub-container h2{
    padding-left:20px ;
}
.form-navigation {
    width: 60%;
    display: flex;
    
    justify-content: space-between;
    margin-bottom: 20px; /* Add some space between the navigation and the form */
}

.nav-button {
    padding: 10px 5px;
    border: none;
    border-radius: 4px;
    background-color: #5D54A4; /* Primary theme color */
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 25%;
}

.nav-button:hover {
    background-color: #4c4290; /* Darker shade for hover state */
}


.add-car-form {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    width: 40%;
    padding-left: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    color: #5D54A4; /* Primary theme color for labels */
}

.form-group input, .form-group select, .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8; /* Slightly off-white for inputs for subtle contrast */
    color: #333; /* Text color inside inputs */
}

button[type="submit"] {
    background-color: #5D54A4; /* Matching the primary theme color */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: #4c4290; /* A slightly darker shade for hover effect */
}
/* Existing styles remain the same */

